/*Estilo para centrar la imagen de fondo*/
body{
  background-position: center;
}
/* Estilos para el encabezado */
header {
  background-color: rgba(29, 35, 40, 0.86);
  padding: 0.8em 3em;
  height: 9em;
  display: flex;

}

.botones{
  display: flex;
  flex-direction: column;
}


/* Estilos para el botón de inicio */
#inicio {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  margin: 10px 220px 0px;
  background-color: white;
  padding: 20px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#inicio a {
  text-decoration: none;
  color:black;
}
/* Estilos para el menú de navegación */
.menu {
  gap: 15px;
  margin: 20px 0px 10px;
  display: flex;
  justify-content: space-evenly;
}

/* Estilos para los elementos del menú */
#noticias, #equipos,#clasificacion, #calendario {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Animación para hover */
}

#apuestas{
  background-color:darkorange;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Animación para hover */
}

/* Efecto hover */
#noticias:hover, #equipos:hover, #apuestas:hover, #clasificacion:hover, #calendario:hover, #inicio:hover{
  background-color: darkorange;
  color: white;
}

/* Estilos para el logo dentro del header */
#logo{
display: flex;
justify-content: flex-end;
margin: 0px 0px 0px 500px;
}
#logo img{
  width: 50%;
  height: auto;
}



    .titulo{
      background-color: darkorange;
      color: white;
      display: flex;
      justify-content: center;
      width: 25%;
      border-radius: 50px;
      margin: auto;
      margin-top: 10vh;
      margin-bottom:10vh;
      text-decoration: underline; 
      }
      .submenu{
      display: flex;
      justify-content:flex-start;
      gap: 20px;
      margin: 0px 0px 30px 20px;
      text-align: center;
      }
      .submenu a{
      background-color: beige;
      color: black;
      padding: 10px 20px;
      border-radius: 10px;
      text-decoration: none; 
      font-weight: bold;
      font-size: 16px;
      }
      .submenu a:hover{
        text-decoration: underline;
      }
      
      #linea{
        background-color: lightgray;
        height: 3px;
        margin: 0px 20px 10px 20px;
        border:none;
      }
      .consejos h1{
        text-align: center;
        padding-top: 2%;
      }
      .consejos{
        background-color: white;
        text-align: justify;
        margin: 0px 150px 0px 150px;
        padding: 0px 30px 10px 30px;
      }

      .consejos img {
        justify-content: center;
        width: 100%;
        height: auto;
      }

    footer {
      background-color: #0046a5;
      color: white;
      padding: 5px;
      
    }
    .footer-container {
      max-width: 1200px;
      margin: 0 auto;
      
    }
    
    footer h2 {
      font-family: 'Arial', sans-serif;
      font-size: 1.5em;
      color: darkorange;
      margin-bottom: 15px;
      text-align: center;
  }
  
  .footer-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: start;
      gap: 20px;
      width: 45%;
  }
  
  .footer-nav a {
      text-decoration: none;
      color: white;
      font-family: 'Arial', sans-serif;
      font-size: 1em;
  }
  
  .footer-nav a:hover {
      text-decoration: underline;
  }
  
  .redes-sociales {
    display: flex;
    align-content: center;
    width: 25%;
    float: right;
    justify-content: space-evenly;
    margin-top: -30px;
  }
  
  
  .redes-sociales img {
      width: 40px;
      height: 40px;
      border-radius: 25px;
     padding: 10px;
      background-color: white;
  }
  
  footer p {
   font-size: 0.8em;
   margin-top: 15px;
   width: 40%; 
  }