/* Estilos para el encabezado */
header {
  background-color: black;
  padding: 10px 50px;
  height: 150px;
  display: flex;

}

.botones{
  display: flex;
  flex-direction: column;
}


/* Estilos para el botón de inicio */
#inicio {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  margin: 10px 220px 0px;
  background-color: white;
  color: black;
  padding: 20px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Estilos para el menú de navegación */
.menu {
  gap: 15px;
  margin: 20px 0px 10px;
  display: flex;
  justify-content: space-evenly;
}

/* Estilos para los elementos del menú */
#noticias, #equipos,#clasificacion, #apuestas {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Animación para hover */
}

#calendario{
  background-color:darkorange;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Animación para hover */
}

/* Efecto hover */
#noticias:hover, #equipos:hover, #apuestas:hover, #clasificacion:hover, #calendario:hover, #inicio:hover {
  background-color: darkorange;
  color: white;
}

/* Estilos para el logo dentro del header */
#logo{
display: flex;
justify-content: flex-end;
margin: 0px 0px 0px 800px;
}
#logo img{
  width: 50%;
  height: auto;
}
  
    body{
      background-color: lightgray;
    }

    footer {
      background-color: #0046a5;
      color: white;
      padding: 5px;
      
    }
    .footer-container {
      max-width: 1200px;
      margin: 0 auto;
      
    }
    
    footer h2 {
      font-family: 'Arial', sans-serif;
      font-size: 1.5em;
      color: darkorange;
      margin-bottom: 15px;
      text-align: center;
  }
  
  .footer-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: start;
      gap: 20px;
      width: 45%;
  }
  
  .footer-nav a {
      text-decoration: none;
      color: white;
      font-family: 'Arial', sans-serif;
      font-size: 1em;
  }
  
  .footer-nav a:hover {
      text-decoration: underline;
  }
  
  .redes-sociales {
    display: flex;
    align-content: center;
    width: 25%;
    float: right;
    justify-content: space-evenly;
    margin-top: -30px;
  }
  
  
  .redes-sociales img {
      width: 40px;
      height: 40px;
      border-radius: 25px;
     padding: 10px;
      background-color: white;
  }
  
  footer p {
   font-size: 0.8em;
   margin-top: 15px;
   width: 40%; 
  }