/* Estilos para el encabezado */
header {
  background-color: black;
  padding: 10px 50px;
  height: 150px;
  display: flex;
}

.botones{
  display: flex;
  flex-direction: column;
}


/* Estilos para el botón de inicio */
#inicio {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  margin: 10px 220px 0px;
  background-color: darkorange;
  color: white;
  padding: 20px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;

  transition: background-color 0.3s ease;
}

/* Estilos para el menú de navegación */
.menu {
  gap: 15px;
  margin: 20px 0px 10px;
  display: flex;
  justify-content: space-evenly;
}

/* Estilos para los elementos del menú */
#noticias, #equipos, #apuestas, #clasificacion, #calendario {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Animación para hover */
}

/* Efecto hover */
#noticias:hover, #equipos:hover, #apuestas:hover, #clasificacion:hover, #calendario:hover, #inicio:hover{
  background-color: darkorange;
  color: white;
}

/* Estilos para el logo dentro del header */
#logo{
display: flex;
justify-content: flex-end;
margin: 0px 0px 0px 500px;
}
#logo img{
  width: 50%;
  height: auto;
}

/* Estilo para el fondo de la página */
body {
  background-color: lightgray; 
}

.titulo{
background-color: darkorange;
color: white;
display: flex;
justify-content: center;
width: 25%;
border-radius: 50px;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
text-decoration: underline; 
}

section{
 display: flex;
 justify-content: space-evenly;
 flex-direction: row;
}

.noticia-link{
  color: black;
text-decoration: none;
}

.noticia{
  width: 25%;
    border-radius: 10px; 
    overflow: hidden; 
    background-color: white;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
.noticia img{
  height: auto;
  width: 100%;
}
.noticia-titulo{
  padding: 15px;

}
.noticia-titulo:hover{
  text-decoration: underline; 
}

#linea{
  height: 2px;
  background-color: black;
}

#video{
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

/* Estilos para el footer */
footer {
  background-color: #0046a5; 
  color: white; 
  padding: 5px; 
}

/* Contenedor principal del footer */
.footer-container {
  max-width: 1200px; 
  margin: 0 auto;
}

/* Estilos para el título del footer */
footer h2 {
  font-family: 'Arial', sans-serif; 
  font-size: 1.5em; 
  color: darkorange; 
  margin-bottom: 15px; 
  text-align: center; 
}

/* Lista de enlaces de navegación en el footer */
.footer-nav {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  justify-content: start;
  gap: 20px; 
  width: 45%; 
}

/* Estilos para los enlaces del footer */
.footer-nav a {
  text-decoration: none; 
  color: white; 
  font-family: 'Arial', sans-serif; 
  font-size: 1em; 
}

/* Estilos hover para los enlaces del footer */
.footer-nav a:hover {
  text-decoration: underline; 
}

/* Contenedor de redes sociales en el footer */
.redes-sociales {
  display: flex; 
  align-content: center; 
  width: 25%; 
  float: right; 
  justify-content: space-evenly; 
  margin-top: -30px; 
}

/* Estilos para las imágenes de redes sociales */
.redes-sociales img {
  width: 40px; 
  height: 40px;
  border-radius: 25px; 
  padding: 10px; 
  background-color: white; 
}

/* Estilo para el texto de copyright en el footer */
footer p {
  font-size: 0.8em; 
  margin-top: 15px;
  width: 40%; 
}